@model DashboardPremium.Models.BENEFIT_PLANS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BENEFIT_PLANS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PLAN_NAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PLAN_NAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DEDUCTABLE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DEDUCTABLE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PERCENTAGE_COPAY)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PERCENTAGE_COPAY)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BENEFIT_PLANS_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
